.venv
*.sw?
*~
.env
__pycache__
*.pyc
.coverage

project_2006633-openrc.sh

# constraints are dynamically fetched for the correct python version
constraints.txt

# sphinx
docs/_build
docs/*.rst
!docs/index.rst

downloads/
pipeline/downloads/
pipeline/logs/*
pipeline/plugins/harvester
airflow/
!.gitkeep

binding_ids/
