-r requirements.txt
apache-airflow[celery]==2.4.0  # NB: if you upgrade the version, also change the constraints file URL in Makefile
apache-airflow-providers-ssh
black
flake8
pylint<2.15
pytest>=7.0.0
pytest-cov
requests_mock
sphinx
pytest-mock
mocksftp
mock-ssh-server
paramiko
