{
  "initial_download": {{ initial_download }},
  "path_config": {
      "OUTPUT_DIR": "{{ pipeline_output_dir }}",
      "TMPDIR_ROOT": "{{ pipeline_tmpdir_root }}",
      "EXTRA_BIN_DIR": "{{ pipeline_extra_bin_dir }}",
      "SUBSET_SPLIT_DIR": "{{ pipeline_subset_split_dir }}",
      "BINDING_LIST_DIR": "{{ pipeline_binding_list_dir }}"
  },
  "collections": [
    {"id": "col-861", "subset_size": 100000}
  ]
}
