{
  "initial_download": {{ initial_download }},
  "retries": {{ pipeline_task_retries }},
  "path_config": {
      "OUTPUT_DIR": "{{ pipeline_output_dir }}",
      "TMPDIR_ROOT": "{{ pipeline_tmpdir_root }}",
      "EXTRA_BIN_DIR": "{{ pipeline_extra_bin_dir }}",
      "SUBSET_SPLIT_DIR": "{{ pipeline_subset_split_dir }}",
      "BINDING_LIST_DIR": "{{ pipeline_binding_list_dir }}"
  },
  "collections": [
  {% for item in harvested_collections -%}
    {
      "id": "{{ item.id }}",
      "subset_size": {{ item.subset_size }}
    }
    {%- if not loop.last -%}
      ,
    {% endif -%}
  {% endfor %}

  ]
}
