{
  "initial_download": {{ initial_download }},
  "retries": {{ pipeline_task_retries }},
  "schedule": "{{ pipeline_schedule }}",
  "path_config": {
      "OUTPUT_DIR": "{{ pipeline_output_dir }}",
      "TMPDIR_ROOT": "{{ pipeline_tmpdir_root }}",
      "EXTRA_BIN_DIR": "{{ pipeline_extra_bin_dir }}",
      "SUBSET_SPLIT_DIR": "{{ pipeline_subset_split_dir }}",
      "BINDING_LIST_DIR": "{{ pipeline_binding_list_dir }}",
      "AIRFLOW_LISTINGS_DIR": "{{ pipeline_listings_dir }}",
      "ADDED_BINDINGS_PREFIX": "{{ pipeline_added_bindings_prefix }}",
      "DELETED_BINDINGS_PREFIX": "{{ pipeline_deleted_bindings_prefix }}"
  },
  "collections": [
  {% for item in harvested_collections -%}
    {
      "id": "{{ item.id }}",
      "subset_size": {{ item.subset_size }}
    }
    {%- if not loop.last -%}
      ,
    {% endif -%}
  {% endfor %}

  ],
  "slurm_config": {
    "TIME": "{{ backup_job_time_reservation }}",
    "MEM": "{{ backup_job_memory_reservation }}"
  }
}
